<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mateusjose.newchatos">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.NavegationDrawerActivity"
            android:label="@string/title_activity_navegation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Nav_activities.NavMyShareActivity"
            android:label="@string/title_activity_menu_new_group_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Nav_activities.NavDefinitionsActivity"
            android:label="@string/title_activity_menu_pendents"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.PostItem" />
        <activity android:name=".Activities.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mateusjose.newchatos.Activities.NavegationDrawerActivity" />
        </activity>
        <activity android:name=".Activities.SignUp" />
        <activity android:name=".Activities.ItemDetail" />
        <activity
            android:name=".Nav_activities.NavFavorites"
            android:label="@string/title_activity_nav_clothes_saved"
            android:parentActivityName=".Activities.NavegationDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mateusjose.newchatos.Activities.NavegationDrawerActivity" />
        </activity>
        <activity
            android:name=".Nav_activities.NavAboutTheAppActivity"
            android:label="@string/title_activity_nav_about_the_app"
            android:parentActivityName=".Activities.NavegationDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mateusjose.newchatos.Activities.NavegationDrawerActivity" />
        </activity>
        <activity
            android:name=".Nav_activities.NavStores"
            android:label="@string/title_activity_nav_my_boutiques"
            android:parentActivityName=".Activities.NavegationDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mateusjose.newchatos.Activities.NavegationDrawerActivity" />
        </activity>
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".Activities.NavegationDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mateusjose.newchatos.Activities.NavegationDrawerActivity" />
        </activity>
        <activity
            android:name=".Activities.SavedItems"
            android:label="@string/title_activity_saved_items"
            android:parentActivityName=".Activities.NavegationDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mateusjose.newchatos.Activities.NavegationDrawerActivity" />
        </activity>
        <activity
            android:name=".Activities.AboutTheApplication"
            android:label="@string/title_activity_about_the_application"
            android:parentActivityName=".Activities.NavegationDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mateusjose.newchatos.Activities.NavegationDrawerActivity" />
        </activity>
        <activity
            android:name=".Activities.SearchItems"
            android:label="@string/title_activity_search_items"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.HomePageWoman"
            android:label="@string/title_activity_home_page_woman"
            android:parentActivityName=".Activities.NavegationDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mateusjose.newchatos.Activities.NavegationDrawerActivity" />
        </activity>
        <activity
            android:name=".Activities.GeneralActivity"
            android:label="@string/title_activity_general"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Boutiques"
            android:label="@string/title_activity_boutiques"
            android:parentActivityName=".Activities.NavegationDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mateusjose.newchatos.Activities.NavegationDrawerActivity" />
        </activity>
        <activity
            android:name=".Activities.BoutiqueDetail"
            android:label="@string/title_activity_boutique_detail"
            android:parentActivityName=".Activities.NavegationDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mateusjose.newchatos.Activities.NavegationDrawerActivity" />
        </activity>
    </application>

</manifest>